@{
    ViewData["Title"] = "Home Page";
}

<a class="btn btn-success" asp-controller="Home" asp-action="YasGrubu">Yaş Grubu Hesaplama</a>
<a class="btn btn-success" asp-controller="Home" asp-action="CreateProduct">Create Product </a>






@*<form asp-controller="Home" asp-action="VerileriAl" method="post">*@ @*hangi controllerin hangi actionaına gitcek diyoruz ona göre form işlemleri gerçeleşecek post ise verileri al sunucuya gönder*@
    @*<label>Ad</label>*@
    @*<input type="text" name="txtAd" >*@ @* name kısmı ise burdaki verileri göndermek için ve homecontrollerda alıcaz*@
    @* <label>Yaş</label>
    <input type="text" name="txtYas" > *@
    @* <input type="submit" value="Gönder"> *@
    @* <button type="submit">Gönder</button>
</form> *@
