@model List<KitapListViewModel>
@{
    ViewData["Title"] = "Home Page";
}

@* <div class="container">
    <div class="row">
        <div class="col-3">
            
        </div>
        @foreach (var kitap in Model)
        {
            <partial name="_Kitap" model="kitap" />
        }
    </div>
</div> *@
