@* Bu sayfalar içerisinde c# kodları ile html kodlarını birlikte yazılmasını sağlar *@
@* Bunlara Razor Page denir MVC yapısı içinde view olarak da adlandırılır. *@

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hosgeldin</h1>
    <p>bu paragrafı biz yazdık</p>
    <button class="btn btn-danger">virüs</button>
    <button class="btn btn-success">ekle</button>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
