@model UserAddDto // bu sayfayaedit get metodundan bilgiler geldi
<form asp-area="Admin"
      asp-controller="User"
      asp-action="Edit"
      method="post">
      <input type="hidden" asp-for="UserDto.Id" /> @*bir input içinde buraya gönderdiğimiz UserDto içindki id yi tutuyoruz post metoduna yollucaz*@
    <div class="row">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="col-8"> @*col-8 lik kısımda yani sayfanın sol kısmında kullacıı bilgileri yer alıcak*@
            <div class="mb-3">
                <label asp-for="UserDto.FirstName" class="form-label"></label>
                <input class="form-control" asp-for="UserDto.FirstName">
                <span asp-validation-for="UserDto.FirstName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="UserDto.LastName" class="form-label"></label>
                <input class="form-control" asp-for="UserDto.LastName">
                <span asp-validation-for="UserDto.LastName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="UserDto.UserName" class="form-label"></label>
                <input class="form-control" asp-for="UserDto.UserName">
                <span asp-validation-for="UserDto.UserName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="UserDto.Email" class="form-label"></label>
                <input class="form-control" asp-for="UserDto.Email">
                <span asp-validation-for="UserDto.Email" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Güncelle</button>
            <a type="button" class="btn btn-light"
               asp-area="Admin"
               asp-controller="User"
               asp-action="Index">Vazgeç</a>
        </div>
        <div class="col-4">@*sayfanın sağ kısmında ise roller kısmı yer alıcak*@
            @foreach (var role in Model.Roles)@*burada modelden gelen rollerin içinde dönücek ve her döndüğünde modelden gelen seçili role bakıcak modelden geln rol seçili rolde varmı varsa checkbox ı işaretler yoka boş bırak*@
            {
                <div class="form-check">
                    <input class="form-check-input"
                       type="checkbox"
                       name="selectedRoles"
                       value="@role.Name"
                       @(Model.SelectedRoles.Any(sr=>sr==role.Name) ? "checked" : "") />
                    <label class="form-check-label">@role.Name</label>
                </div>

            }
            <span class="text-danger" asp-validation-for="SelectedRoles"></span>
            <hr />
            <div class="form-check">
                <input class="form-check-input"
                       type="checkbox"
                       asp-for="UserDto.EmailConfirmed" />@*email onaylımı kısmı için*@
                <label asp-for="UserDto.EmailConfirmed" class="form-check-label"></label>
            </div>
        </div>
    </div>
</form>