@model List<Kategori>
@{
    ViewData["Title"] = "Kategori";
}

<h1 class="display-6">Kategori Listesi</h1>
<hr>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Ad</th>
            <th>Açıklama</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.Ad</td>
                <td>@p.Aciklama</td>
               
            </tr>
        }
    </tbody>
</table>