@model List<Yazar>
@{
    ViewData["Title"] = "Yazar";
}
<h1 class="display-6">Yazar Litesi</h1>
<hr>
<table class="table table-bordered">
    <thead>
        <tr>
           <th>Id</th>
            <th>Ad</th>
            <th>DoğumYılı</th>
            <th>Cinsiyet</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.Ad</td>
                <td>@p.DogumYili</td>
                <td>@p.Cinsiyet</td>
               
            </tr>
        }
    </tbody>
</table>