@model Yazar
@{
    ViewData["Title"] = "YazarGuncelle";
}

<h1 class="display-6">Yazar Güncelle</h1>
<hr>
<form asp-controller="Home" asp-action="YazarGuncelle"  method="post">
    <div class="row mb-2">
        <div class="col-2">
            <label class="form-label" asp-for="Ad"></label> @* asp-for labelın içine Ad yazmadık ama sayfamızda çıktı çünkü asp-for propterisin ismini alıp yazdı*@
        </div>
        <div class="col-4">
            <input class="form-control" type="text" asp-for="Ad">
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-2">
            <label class="form-label" asp-for="DogumYili"></label> @* asp-for labelın içine Ad yazmadık ama sayfamızda çıktı çünkü asp-for propterisin ismini alıp yazdı*@
        </div>
        <div class="col-4">
            <input class="form-control" type="text" asp-for="DogumYili">
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-2">
            <label class="form-label" asp-for="Cinsiyet"></label> @* asp-for labelın içine Ad yazmadık ama sayfamızda çıktı çünkü asp-for propterisin ismini alıp yazdı*@
            
        </div>
        <div class="col-4">
            @* <input class="form-control" type="text" asp-for="Cinsiyet"> *@
            <input class="form-check-input" asp-for="Cinsiyet" type="radio" value="K" checked><label>Kadın</label>
            <input class="form-check-input" asp-for="Cinsiyet" type="radio" value="E" ><label>Erkek</label>
        </div>
    </div>

      <div class="row mb-2">
        <div class="col-4 offset-2"> @* offset yanına ne yazarsak şu kadar kolonluk yer ayır sonra bunları yaz demek yani buraya ayrıyeten col-2 yapılmış gibi*@
           <input class="btn btn-success" type="submit" value="Güncelle">
        </div>
    </div>

</form>